﻿﻿@helper DrawResultsOfForms(List<(string name, string genre, bool wantScifi, 
    bool wantMobileVersion)> data)
{
    <ul>Number of people, which prefer a certain genre:</ul>
    <li>Fantastic: @data.Where(x => x.genre.Equals("Fantastic")).Count()</li>
    <li>Detectives: @data.Where(x => x.genre
        .Equals("Detectives")).Count()</li>
    <li>History: @data.Where(x => x.genre.Equals("History")).Count()</li>
    <li>Adventure: @data.Where(x => x.genre.Equals("Adventure")).Count()</li><br />
    <ul>What people want:</ul>
    <li>@data.Where(x => x.wantMobileVersion).Count() People want a mobile version of this site</li>
    <li>@data.Where(x => x.wantScifi).Count() People want more science fiction books</li>
}
